php_flag  log_errors off
php_value error_reporting 30711

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_value docref_root http://www.php.net/manual/en/
php_value docref_ext .php

AddDefaultCharset UTF-8

<IfModule mod_expires.c>
<IfModule mod_headers.c>
	ExpiresActive On
	<FilesMatch "\.(php)$">
		Header set Expires "Thu, 15 Apr 1981 20:00:00 GMT"
		Header set Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"
		Header set Pragma "no-cache"
	</FilesMatch>
</IfModule>
</IfModule>
