<IfModule mod_expires.c>
<IfModule mod_headers.c>
	ExpiresActive On
	<FilesMatch "\.(php)$">
		Header set Expires "Thu, 15 Apr 1981 20:00:00 GMT"
		Header set Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"
		Header set Pragma "no-cache"
	</FilesMatch>
</IfModule>
</IfModule>
