body {
    font-family: sans-serif;
    font-size: 10px;
}

#pageContainer {
    width: 1000px;
    margin: 10px auto 0;
    border: #d3d3d3 1px solid;
    overflow: auto;
}

#histogramsContainer, #graphContainer {
    height: 660px;
}

#abbreviations{
    margin: 0 auto 5px;
}

#chartInfo {
    margin: 10px;
}